docs/n8n-workflows/social-sold.json
{
  "name": "Social - SOLD Post",
  "_security_notes": [
    "FUB webhook: HMAC-SHA256 signature verified (FUB_WEBHOOK_SECRET n8n var). Soft-fail on empty secret for initial setup.",
    "agentEmail: allowlisted to known internal domains before use.",
    "All FUB fields HTML-escaped before email interpolation.",
    "Postgres queries: parameterized ($1) — no string interpolation into SQL.",
    "Token format validated against UUID v4 regex before any DB call.",
    "Confirmation page: AI content HTML-escaped in Code node before rendering.",
    "Approval: GET shows read-only preview page. POST with single-use token publishes.",
    "Content always read from Postgres server-side — never from query string."
  ],
  "nodes": [
    {
      "id": "webhook-fub",
      "name": "FUB SOLD Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "parameters": { "path": "fub-sold", "httpMethod": "POST", "responseMode": "responseNode" },
      "typeVersion": 2
    },
    {
      "id": "respond-fub",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [460, 420],
      "parameters": { "respondWith": "text", "responseBody": "ok" },
      "typeVersion": 1.1
    },
    {
      "id": "verify-fub-sig",
      "name": "Verify FUB Signature + Sanitize",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $vars.FUB_WEBHOOK_SECRET ?? '';\nconst sig = $input.first().json.headers?.['x-fub-signature'] ?? '';\nif (secret && sig) {\n  const body = JSON.stringify($input.first().json.body);\n  const expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n  if (sig !== expected) throw new Error('Invalid FUB signature — request rejected');\n}\nfunction esc(s) { return String(s ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#39;'); }\nconst rawEmail = $input.first().json.body?.agent?.email ?? $input.first().json.agent?.email ?? '';\nconst agentEmail = /^[^@]+@(anchorgroup\\.com|theanchorgroup\\.com|gmail\\.com)$/i.test(rawEmail) ? rawEmail : '';\nconst b = $input.first().json.body ?? $input.first().json;\nreturn [{ json: {\n  address: esc(b.property?.address ?? b.deal?.property?.address ?? 'Address TBD'),\n  city:    esc(b.property?.city    ?? b.deal?.property?.city    ?? 'Palm Coast'),\n  price:   esc(b.property?.price   ?? b.deal?.value             ?? ''),\n  beds:    esc(b.property?.bedrooms  ?? ''),\n  baths:   esc(b.property?.bathrooms ?? ''),\n  agent:   esc(b.agent?.name ?? 'the team'),\n  agentEmail\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "ai-generate",
      "name": "Generate SOLD Post Variations",
      "type": "n8n-nodes-base.httpRequest",
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{$vars.OPENROUTER_API_KEY}}" },
          { "name": "HTTP-Referer", "value": "https://n8n.joelycannoli.com" }
        ]},
        "sendBody": true, "contentType": "json", "specifyBody": "json",
        "jsonBody": {
          "model": "anthropic/claude-haiku-4-5", "max_tokens": 500,
          "messages": [
            { "role": "system", "content": "You write real estate social media posts for The Anchor Group in Palm Coast, Florida. Brand: Dolphins Not Sharks. Fair Housing compliant. SOLD posts celebrate the transaction and agent excellence. 50-120 words. End with: — The Anchor Group" },
            { "role": "user", "content": "=Write 2 SOLD post variations.\nProperty: {{$json.address}}, {{$json.city}}, FL\nSale Price: ${{$json.price}} | {{$json.beds}} bed / {{$json.baths}} bath\nAgent: {{$json.agent}}\n\nWrite exactly 2 variations labeled CELEBRATORY: and GRATEFUL: on separate lines. Each 50-120 words." }
          ]
        },
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "store-drafts",
      "name": "Store Drafts + Generate Tokens",
      "type": "n8n-nodes-base.code",
      "position": [900, 300],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst raw = $input.first().json.choices[0].message.content;\nconst prev = $('Verify FUB Signature + Sanitize').first().json;\nfunction extract(label) {\n  const regex = new RegExp(label + ':?\\\\s*([\\\\s\\\\S]*?)(?=(?:CELEBRATORY:|GRATEFUL:|$))', 'i');\n  const m = raw.match(regex); return m ? m[1].trim() : '';\n}\nconst drafts = [\n  { tone: 'Celebratory', content: extract('CELEBRATORY') },\n  { tone: 'Grateful',    content: extract('GRATEFUL') }\n].filter(d => d.content);\nreturn drafts.map(d => ({ json: {\n  token: crypto.randomUUID(),\n  workflow: 'sold',\n  tone: d.tone,\n  content: d.content,\n  address: prev.address,\n  city: prev.city,\n  agent: prev.agent,\n  agentEmail: prev.agentEmail\n}}));"
      },
      "typeVersion": 2
    },
    {
      "id": "persist-drafts",
      "name": "Persist Drafts to Postgres",
      "type": "n8n-nodes-base.postgres",
      "position": [1120, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nightshift.social_drafts (id, workflow, address, tone, content, agent_email) VALUES ($1, $2, $3, $4, $5, $6)",
        "additionalFields": {
          "queryParams": "={{JSON.stringify([$json.token, $json.workflow, $json.address, $json.tone, $json.content, $json.agentEmail])}}"
        },
        "options": {}
      },
      "credentials": { "postgres": { "id": "postgres-pi", "name": "Pi Postgres" } },
      "typeVersion": 2.5
    },
    {
      "id": "collect-tokens",
      "name": "Collect All Tokens",
      "type": "n8n-nodes-base.aggregate",
      "position": [1340, 300],
      "parameters": {
        "fieldsToAggregate": { "fieldToAggregate": [
          { "fieldToAggregate": "token" }, { "fieldToAggregate": "tone" },
          { "fieldToAggregate": "address" }, { "fieldToAggregate": "agent" },
          { "fieldToAggregate": "agentEmail" }
        ]}
      },
      "typeVersion": 1
    },
    {
      "id": "send-email",
      "name": "Email Agent — SOLD Approval",
      "type": "n8n-nodes-base.emailSend",
      "position": [1560, 300],
      "parameters": {
        "fromEmail": "anchorgroupops@gmail.com",
        "toEmail": "={{$json.agentEmail[0]}}",
        "subject": "=SOLD! Post ready — {{$json.address[0]}}",
        "emailFormat": "html",
        "html": "=<p>Congratulations {{$json.agent[0]}} on the close!</p><p>Two post options are ready for <strong>{{$json.address[0]}}, FL</strong>. Click to preview — nothing posts until you confirm on the next screen.</p><p style='margin-top:16px'>{{$json.tone.map((tone,i)=>'<a href=\"https://n8n.joelycannoli.com/webhook/sold-confirm?token='+$json.token[i]+'\" style=\"background:#03466e;color:#fff;padding:8px 16px;text-decoration:none;border-radius:4px;display:inline-block;margin-right:8px\">' + tone + '</a>').join(' ')}}</p><p style='color:#888;font-size:12px;margin-top:16px'>— Anchor Group AI | Nothing posts until you confirm.</p>"
      },
      "credentials": { "smtp": { "id": "gmail-smtp", "name": "AnchorGroupOps Gmail" } },
      "typeVersion": 2.1
    },
    {
      "id": "webhook-confirm",
      "name": "Confirm Page (GET — no side effect)",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 600],
      "parameters": { "path": "sold-confirm", "httpMethod": "GET", "responseMode": "responseNode" },
      "typeVersion": 2
    },
    {
      "id": "validate-token-confirm",
      "name": "Validate UUID Token (confirm)",
      "type": "n8n-nodes-base.code",
      "position": [460, 600],
      "parameters": {
        "jsCode": "const token = $input.first().json.query?.token ?? '';\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(token)) {\n  throw new Error('Invalid token format');\n}\nreturn [{ json: { token } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "lookup-draft-confirm",
      "name": "Look Up Draft",
      "type": "n8n-nodes-base.postgres",
      "position": [680, 600],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tone, content, consumed FROM nightshift.social_drafts WHERE id = $1",
        "additionalFields": { "queryParams": "={{JSON.stringify([$json.token])}}" },
        "options": {}
      },
      "credentials": { "postgres": { "id": "postgres-pi", "name": "Pi Postgres" } },
      "typeVersion": 2.5
    },
    {
      "id": "prepare-confirm-html",
      "name": "Prepare Safe HTML",
      "type": "n8n-nodes-base.code",
      "position": [900, 600],
      "parameters": {
        "jsCode": "const row = $input.first().json;\nif (!row || !row.id) return [{ json: { html: '<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head><body style=\"font-family:sans-serif;text-align:center;padding:60px\"><h2 style=\"color:#c00\">Draft not found or expired.</h2></body></html>' } }];\nfunction esc(s) { return String(s ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#39;'); }\nconst tone = esc(row.tone);\nconst content = esc(row.content);\nconst id = esc(row.id);\nconst consumed = row.consumed;\nconst body = consumed\n  ? '<p style=\"color:#c00;font-size:18px\">This draft has already been published.</p>'\n  : `<pre style=\"background:#f5f5f5;padding:16px;border-radius:6px;white-space:pre-wrap;font-family:inherit;margin:16px 0;font-size:15px\">${content}</pre><form method=\"POST\" action=\"https://n8n.joelycannoli.com/webhook/sold-post\"><input type=\"hidden\" name=\"token\" value=\"${id}\"/><button type=\"submit\" style=\"background:#03466e;color:#fff;padding:12px 24px;border:none;border-radius:4px;font-size:16px;cursor:pointer\">Confirm &amp; Post to Facebook</button></form>`;\nreturn [{ json: { html: `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta http-equiv=\"Content-Security-Policy\" content=\"default-src 'none'; style-src 'unsafe-inline'; form-action 'self' https://n8n.joelycannoli.com\"><meta name=\"X-Content-Type-Options\" content=\"nosniff\"></head><body style=\"font-family:sans-serif;max-width:600px;margin:40px auto;padding:0 20px\"><h2 style=\"color:#03466e\">SOLD Post &mdash; ${tone} Tone</h2>${body}</body></html>` } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "render-confirm-page",
      "name": "Render Confirmation Page",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1120, 600],
      "parameters": { "respondWith": "html", "responseBody": "={{$json.html}}" },
      "typeVersion": 1.1
    },
    {
      "id": "webhook-post",
      "name": "Publish POST Handler",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 840],
      "parameters": { "path": "sold-post", "httpMethod": "POST", "responseMode": "responseNode" },
      "typeVersion": 2
    },
    {
      "id": "validate-token-post",
      "name": "Validate UUID Token (publish)",
      "type": "n8n-nodes-base.code",
      "position": [460, 840],
      "parameters": {
        "jsCode": "const token = $input.first().json.body?.token ?? '';\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(token)) {\n  throw new Error('Invalid token format');\n}\nreturn [{ json: { token } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "lookup-and-consume",
      "name": "Look Up + Mark Consumed",
      "type": "n8n-nodes-base.postgres",
      "position": [680, 840],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE nightshift.social_drafts SET consumed=true, consumed_at=now() WHERE id=$1 AND consumed=false RETURNING id, content, tone",
        "additionalFields": { "queryParams": "={{JSON.stringify([$json.token])}}" },
        "options": {}
      },
      "credentials": { "postgres": { "id": "postgres-pi", "name": "Pi Postgres" } },
      "typeVersion": 2.5
    },
    {
      "id": "check-consumed",
      "name": "Was Already Consumed?",
      "type": "n8n-nodes-base.if",
      "position": [900, 840],
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{$json.length}}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }] },
        "combineOperation": "all"
      },
      "typeVersion": 2.2
    },
    {
      "id": "post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1120, 840],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{$vars.META_PAGE_ID}}/feed",
        "sendBody": true, "contentType": "json", "specifyBody": "json",
        "jsonBody": { "message": "={{$json[0].content}}", "access_token": "={{$vars.META_PAGE_ACCESS_TOKEN}}" },
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "respond-success",
      "name": "Respond — Published",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1340, 840],
      "parameters": { "respondWith": "html", "responseBody": "<!DOCTYPE html><html><head><meta charset='utf-8'></head><body style='font-family:sans-serif;text-align:center;padding:60px 20px'><h2 style='color:#03466e'>&#x2713; SOLD post published!</h2><p>It's live on the Anchor Group Facebook page.</p></body></html>" },
      "typeVersion": 1.1
    },
    {
      "id": "respond-already-used",
      "name": "Respond — Already Used",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1120, 960],
      "parameters": { "respondWith": "html", "responseBody": "<!DOCTYPE html><html><head><meta charset='utf-8'></head><body style='font-family:sans-serif;text-align:center;padding:60px 20px'><h2 style='color:#c00'>This approval link has already been used.</h2><p>The post was already published, or the link expired.</p></body></html>" },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "FUB SOLD Webhook": { "main": [
      [{ "node": "Verify FUB Signature + Sanitize", "type": "main", "index": 0 }],
      [{ "node": "Respond 200", "type": "main", "index": 0 }]
    ]},
    "Verify FUB Signature + Sanitize": { "main": [[{ "node": "Generate SOLD Post Variations", "type": "main", "index": 0 }]] },
    "Generate SOLD Post Variations": { "main": [[{ "node": "Store Drafts + Generate Tokens", "type": "main", "index": 0 }]] },
    "Store Drafts + Generate Tokens": { "main": [[{ "node": "Persist Drafts to Postgres", "type": "main", "index": 0 }]] },
    "Persist Drafts to Postgres": { "main": [[{ "node": "Collect All Tokens", "type": "main", "index": 0 }]] },
    "Collect All Tokens": { "main": [[{ "node": "Email Agent — SOLD Approval", "type": "main", "index": 0 }]] },
    "Confirm Page (GET — no side effect)": { "main": [[{ "node": "Validate UUID Token (confirm)", "type": "main", "index": 0 }]] },
    "Validate UUID Token (confirm)": { "main": [[{ "node": "Look Up Draft", "type": "main", "index": 0 }]] },
    "Look Up Draft": { "main": [[{ "node": "Prepare Safe HTML", "type": "main", "index": 0 }]] },
    "Prepare Safe HTML": { "main": [[{ "node": "Render Confirmation Page", "type": "main", "index": 0 }]] },
    "Publish POST Handler": { "main": [[{ "node": "Validate UUID Token (publish)", "type": "main", "index": 0 }]] },
    "Validate UUID Token (publish)": { "main": [[{ "node": "Look Up + Mark Consumed", "type": "main", "index": 0 }]] },
    "Look Up + Mark Consumed": { "main": [[{ "node": "Was Already Consumed?", "type": "main", "index": 0 }]] },
    "Was Already Consumed?": { "main": [
      [{ "node": "Post to Facebook", "type": "main", "index": 0 }],
      [{ "node": "Respond — Already Used", "type": "main", "index": 0 }]
    ]},
    "Post to Facebook": { "main": [[{ "node": "Respond — Published", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
